<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjun.poas.mapper.ICommentMapper">

    <insert id="insertComment" parameterType="com.wenjun.poas.entity.Comment">
        insert into poas_user(weibo_id,comment_id,user_id,text)
        values (#{weiboId},#{commentId},#{userId},#{text})
    </insert>

    <delete id="deleteComment" parameterType="com.wenjun.poas.entity.Comment">
        delete from weibo_comment where comment_id = #{commentId} and weibo_id=#{weiboId}
    </delete>


    <select id="findByTextId" parameterType="String" resultType="com.wenjun.poas.entity.Comment">
        select * from weibo_comment where weibo_id = #{weiboId}
    </select>

    <select id="getPosCount" parameterType="String" resultType="Integer">
        select count(1) from weibo_comment where weibo_id = #{weiboId} and attitude="正向"
    </select>

    <select id="getNegCount" parameterType="String" resultType="Integer">
        select count(1) from weibo_comment where weibo_id = #{weiboId} and attitude="负向"
    </select>

    <update id="updateCommentAttitude" parameterType="com.wenjun.poas.entity.Comment">
        update weibo_comment set attitude=#{attitude} where comment_id=#{commentId}
    </update>


</mapper>